html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 70px;
  background: lightblue;
}

#header span {
    position: relative;
    font-size: 24px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-left: 15px;
    top: 15px;
    float: left;
}

#content {
  width: 100%;
  height: calc(100% - 110px);
  background: white;
}

#footer {
  width: 100%;
  height: 40px;
  background: lightcyan;
}

#header label {
    color: red;
    position: relative;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

#header label:hover {
    text-decoration: underline;

}

#rightContent {
    position: relative;
    float: right;
    padding-right: 300px;
    padding-top: 10%;
}

#name {
    position: relative;
    color: blue;
    font-size: 50px;
    font-weight: bold;
    float: right;
}
#course {
    position: relative;
    color: green;
    font-size: 50px;
    font-weight: bold;
    top: 30px;
}
#branch {
    position: relative;
    color: brown;
    font-size: 50px;
    font-weight: bold;
    top: 50px;
}
#year {
    position: relative;
    color: blueviolet;
    font-size: 50px;
    font-weight: bold;
    top: 70px;
}

#leftContent {
    position: relative;
    float: left;
}
#leftContent img {
    position: relative;
    width: 600px;
    top: 150px;
    padding-left: 30px;
}

#footer span{
    position: relative;
    top: 10px;
    padding-left: 15px;
    font-size: large;
    color: black;
    float: left;
}

#socialIcons img {
    float: right;
    position: relative;
    width: 30px;
    padding-right: 156px;
    top: 5px;
    cursor: pointer;
}