.signin-box {
    width: 25vw;
    border: 1px solid red;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px greenyellow, -1px -1px 5px yellow;

}

table {
    text-align: center;
    justify-content: center;
    align-items: center;
}
table tr {
    height: 4vh;
}

table td {
    padding: 10px;
}
.parent {
    width: 100vw;
    height: 95vh;
    border: 1px solid red;
    

}

.page {
margin-top: 50px;
}